
<div class="input-container">
  <input type="text" ng-model="characterInput"/>
</div>
<div class="row">
  <div ng-repeat="character in characters" class="col-md-4">
    <div class="flip">
      <div ng-class="{flipped: hover}" ng-click="hover=!hover" class="card">
        <div class="face front">
          <div style="height:350px" class="card-inner"><img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" style="height: auto; overflow: hidden;width:100%; margin: auto;"/>
            <div class="card-name">{{character.name }}</div>
          </div>
        </div>
        <div class="face back">
          <p>| test</p>
        </div>
      </div>
    </div>
  </div>
</div>