hr(style='border-color: #333; height: 1px;')
.row
  h3(style='text-align: center;')  {{character.name }} 
  img(src='{{character.thumbnail.path}}.{{character.thumbnail.extension}}', style='height: 350px; display: block; margin: auto;')
  | {{character.description}}
  hr(style='border-color: #333; height: 1px;')
  h4 Comics
  ul(ng-repeat='comic in character.comics.items')
    li
      a(href='#/comic/{{idFromURI(comic.resourceURI)}}') {{comic.name}}
  h4 Stories
  ul(ng-repeat='story in character.stories.items')
    li
      a(href='{{story.resourceURI}}') {{story.name}}
  h4 Series
  ul(ng-repeat='series in character.series.items')
    li
      a(href='{{series.resourceURI}}') {{series.name}}
  h4 Events
  ul(ng-repeat='event in character.events.items')
    li
      a(href='{{event.resourceURI}}') {{event.name}}
  h4 URLs
  ul(ng-repeat='url in character.urls')
    li
      a(href='{{url.url}}') {{url.type}}
