hr(style='border-color: #333; height: 1px;')
.row
  h3(style='text-align: center;')  {{ comic.title }} 
  img(src='{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}', style='width: 350px; display: block; margin: auto;')
  | {{comic.description}}
  hr(style='border-color: #333; height: 1px;')
  h4 Images
  .container
    .row
      div(ng-repeat='image in comic.images')
        .col-md-4
          img(src='{{image.path}}.{{image.extension}}', style='height: 350px; display: block; margin: auto;')
