.input-container
  input(type='text', ng-model='characterInput')
.row
  .col-md-4(ng-repeat='character in characters')
    .flip
      .card(ng-class='{flipped: hover}' ng-click='hover=!hover')
        .face.front
          .card-inner(style='height:350px')
            img(src='{{character.thumbnail.path}}.{{character.thumbnail.extension}}', style='height: auto; overflow: hidden;width:100%; margin: auto;')
            .card-name
              | {{character.name }}
        .face.back
          p | test

